<div>
  <h1 mat-dialog-title>Manage Emplyee Leaves</h1>

  <form #formDirective="ngForm" [formGroup]="leaveForm">
    <div class="row">
      <div class="col-md-3 mt-2">
        <mat-form-field appearance="outline">
          <mat-label>Leave Type</mat-label>
          <mat-select formControlName="leaveType">
            <mat-option *ngFor="let item of leaveTypes" [value]="item.key">
              {{item.value}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="col-md-3 mt-2">
        <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Description</mat-label>
          <input matInput formControlName="description">
          <mat-error *ngIf="leaveForm.controls['description'].hasError('required')">
            Leave Description is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-3 mt-2">
        <mat-form-field class="full-width-input" appearance="outline">
          <mat-label>Start Date</mat-label>
          <input (click)="startDate.open()" [max]="today" (focus)="startDate.open()" matInput formControlName="startDate"
                 [matDatepicker]='startDate' placeholder="Choose Start Date">
          <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
          <mat-datepicker #startDate></mat-datepicker>
          <mat-error *ngIf="leaveForm.controls['startDate'].hasError('required')">
            Start Date is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>

      <div class="col-md-3 mt-2">
        <mat-form-field class="full-width-input" appearance="outline">
          <mat-label>End Date</mat-label>
          <input (click)="endDate.open()" [min]="today" (focus)="endDate.open()" matInput formControlName="endDate"
                 [matDatepicker]='endDate' placeholder="Choose End Date">
          <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
          <mat-datepicker #endDate></mat-datepicker>
          <mat-error *ngIf="leaveForm.controls['endDate'].hasError('required')">
            End Date is <strong>required</strong>
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="row offset-md-10 mt-2 mb-2">
      <button mat-stroked-button color="primary" class="btn btn-primary pull-right" [disabled]="!leaveForm.valid" (click)='save(formDirective)'>
        {{ leaveForm.controls['id'].value ? 'Update' : 'Add' }}
      </button>
    </div>
  </form>

  <div class="row">
    <div class="col-md-12">
      <div class='region-root-list mat-elevation-z8'>
        <table mat-table [dataSource]="dataSource" matSort >
          <ng-container matColumnDef="sl">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> SL#. </th>
            <td mat-cell *matCellDef="let element; let i = index;"> {{ (pagination.pageSize * pagination.pageIndex) + (i + 1) }} </td>
          </ng-container>

          <ng-container matColumnDef="type">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Leave Type </th>
            <td mat-cell *matCellDef="let element"> {{element.employeeLeaveType}} </td>
          </ng-container>

          <ng-container matColumnDef="description">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Leave Description </th>
            <td mat-cell *matCellDef="let element"> {{element.description}} </td>
          </ng-container>

          <ng-container matColumnDef="startDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Start Date </th>
            <td mat-cell *matCellDef="let element"> {{element.startDate | localTime:'DD MMM YYYY'}} </td>
          </ng-container>

          <ng-container matColumnDef="endDate">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> End Date </th>
            <td mat-cell *matCellDef="let element"> {{element.endDate | localTime:'DD MMM YYYY'}} </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
            <td mat-cell *matCellDef="let element">
              <button type="button" class="btn btn-sm btn-primary mr-1" (click)='edit(element.id)'><i class="fa fa-edit"></i></button>
              <button type="button" class="btn btn-sm btn-danger" (click)='delete(element.id)'><i class="fa fa-remove"></i></button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columns"></tr>
          <tr mat-row *matRowDef="let row; columns: columns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="pagination.pageSizes" [pageSize]="pagination.pageSize" (page)="changePage($event)"></mat-paginator>
      </div>
    </div>
  </div>

  <div class="col-md-12 pr-0">
    <div class="pull-right mt-4">
      <button type="button" class="btn btn-sm btn-primary" (click)="closePopUp(true)">Close</button>
    </div>
  </div>
</div>
