// Dashboard Login
// --------------------------------------------------

.login {
    &__frm {
        max-width: 374px;
        margin: 3rem auto;
        a {
            transition: all 0.3s;
            text-decoration: underline;
            &:hover {
                text-decoration: none;
            }
        }
    }
    &__header {
        padding-bottom: 0.8rem;
        p {
            font-size: rem(14px);
            line-height: rem(18px);
            margin-bottom: 10px;
        }
    }
}