// Utilities
// --------------------------------------------------
%white-box {    
    background-color: $white;
    border: 1px solid #dfdfdf;
    box-shadow: 0 5px 5px rgba(204, 204, 204, 0.8), 3px 0 3px rgba(204, 204, 204, 0.8);
}